* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

.container {
    /* width: 1100px; */
    margin: 0 auto;
}

/* header */
.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.header_some {
    margin: 0 100px 0 0;
    width: 200px;
    height: 200px;
    background-image: url('./img-Some/60b8ee61-142c-41fe-b23f-e55fb78ec381.png');
}

.header_signe {
    width: 800px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img-Some/SLOGAN\ SLOGAN\ SLOGAN.png);
}

/* навбар */
#navbar {
    background-color: black;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: aliceblue;
}

li {
    padding: 20px 75px;

}

li:hover {
    background-color: rgb(0 136 162);
    color: black;
}

/* section  */
.selectionn_container {
    justify-content: space-between;
    display: flex;
    padding: 40px 0;
}

.section_img {
    width: 350px;
    height: 250px;
    background-image: url(./img-Some/rawpixel-196464-unsplash.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: aliceblue;
    border-radius: 20px;
    justify-content: center;
}

.after {
    width: 350px;
    height: 250px;
    background-color: red;
    position: relative;
    border-radius: 20px;
}

.after::before {
    content: '';
    position: absolute;
    width: 230px;
    height: 250px;
    color: aliceblue;
    border-radius: 20px 0 0 20px;
    background-color: blue;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img-Some/rawpixel-559744-unsplash.png);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 100px;
}

.index {
    background-color: #fff;
    width: 200px;
    height: 400px;
    font-size: 15px;
    box-shadow: rgb(65, 65, 65) 7px 7px 4px;
}

.img_index {
    background-color: rgba(0, 0, 0, 0.285);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 10px;
    width: 170px;
    height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-image: url("./img-Some/rawpixel-196464-unsplash.png");
}

.box {
    margin: 10px;
    width: 170px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.button_index {
    cursor: grabbing;
    width: 170px;
    height: 20px;
    border-radius: 20px;
    border: 0ch;
    background-color: rgb(0 136 162);
    display: flex;
    justify-content: center;
    margin: 10px;
}

.mhs {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index1 {
    position: absolute;
}

.index2 {
    position: absolute;
    top: 26px;
    left: 175px;
}

.index3 {
    position: absolute;
    left: 366px;
}

.index4 {
    position: absolute;
    left: 550px;
    top: 26px;
}

.index5 {
    position: absolute;
    left: 730px;
}

.index6 {
    position: absolute;
    left: 910px;
    top: 26px;
}

.container1 {
    position: relative;
    width: 1100px;
    height: 435px;
}

.container2 {
    margin-top: 20px;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dow {
    display: flex;
    justify-content: space-between;
}

.img_dow {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img-Some/android.png');
}

.img1_dow {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img-Some/icon.png');
}

.contact {
    background-color: #3b91b2;
    text-align: center;
    color: #fff;
}

.dannie {
    display: flex;
    justify-content: space-between;
}

.ww {
    width: 100px;
    height: 100px;
}

.some {
    margin: 20px 0;
}